<div class="login-form">
	<form [formGroup]="formGroup" class="flex-container">
		<mat-form-field class="login-fields" appearance="fill">
			<mat-label>EMAIL</mat-label>
			<input matInput formControlName="Email" placeholder="EMAIL">
		</mat-form-field>
		<mat-form-field class="login-fields" appearance="fill">
			<mat-label>PASSWORD</mat-label>
			<input matInput formControlName="Password" placeholder="PASSWORD" type="password">
		</mat-form-field>
		<button type="button" mat-button color="primary" class="nobetween-btn"> LOGIN </button>
		<button type="button" mat-button class="nobetween-btn-small"> REGISTER NEW ACCOUNT </button>
		<button type="button" mat-button class="nobetween-btn-small"> FORGOT PASSWORD </button>
	</form>
</div>